<div class="row">
	<div class="col-sm-12 tab-header">
		<h6>Create a new collection</h6>
	</div>
</div>
<div class="row ">
	<div class="col-sm-6">
		<h1>COLLECTION #1 <i class="fa fa-question-circle"></i></h1>
	</div>
	<div class="col-sm-3 col-sm-offset-2">
		<p style="margin-top: 15px; font-size: 14px;">32 Products Currently in Collection<br>32 SXUs Currently in Collection</p>
	</div>
	<div style="padding-top: 13px;">
		<a href="#" type="button" class="btn btn-round" style="font-size: 14px; padding: 12px 10px;">CREATE</a>
	</div>
</div>
<div class="row col-sm-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="collection-border">
				<ul class="collection-area" ng-model="collections" data-drop="true" data-jqyoui-options="" jqyoui-droppable="{multiple:true, onDrop: 'itemAdded()'}">
					<li ng-repeat="item in collections">
						<div class="card-small">
							<div class="card-img">
								<img ng-src="{{item.src}}" ng-click="setItem(item)">
							</div>
							<div class="card-block" style="top: -11px; position: relative;">
								<p class="card-text">{{item.name}}</p>
								<a href="#">Discount</a>
							</div>
						</div>
					</li>
				</ul>
			</div> 
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-8">
		<h3>Store Inventory <i class="fa fa-question-circle"></i></h3>
		<div class="table-responsive" style="width: 695px;">
			<table class="table" border="2">
				<thead style="display: table-header-group;">
					<tr style="display: block;">
						<th class="text-left verticle-middle" style="width: 200px;">Product Name<br>Cost</th>
						<th class="text-left verticle-middle" style="width: 150px;">SKU CODE</th>
						<th class="text-left verticle-middle" style="width: 100px;">QTY</th>
						<th class="text-center verticle-middle" style="width: 240px;">Drag to Add</th>
					</tr>
				</thead>
				<tbody style="display: block; height: 364px; /*overflow: auto;*/ width: 100%;">
					<tr ng-repeat="item in products track by $index" ng-show="($index / tableItems < (currentPage + 1)) && ($index / tableItems >= currentPage)" style="display: table-row;">
						<td class="text-left verticle-middle" style="width: 200px;">{{item.name}}<br>${{item.price}}</td>
						<td class="text-left verticle-middle" style="width: 150px;">{{item.no}}</td>
						<td class="text-left verticle-middle" style="width: 100px;">{{item.qty}}</td>
						<td class="text-center verticle-middle" style="width: 240px;">
							<div class="" data-drag="true" ng-show="!item.added" data-jqyoui-options="{revert: 'invalid'}" ng-model="item" jqyoui-draggable="{index: {{$index}}, animate:true, placeholder: 'keep'}">
								<i class="fa fa-2x fa-plus"></i>
							</div>
							<div ng-show="item.added">
								<i class="fa fa-2x fa-check text-success"></i>
							</div>
						</td>
					</tr>
					<tr class="placeholder" ng-show="currentPage == lastPage -1">
						<td colspan="4">&nbsp;</td>
					</tr>
					<tr>
						<td colspan="4" class="text-center">
							<!--<a href=""><i class="fa fa-2x fa-arrow-circle-left" ng-show="currentPage > 0" ng-click="previousPage()"></i></a>
							<span style="font-size: 20px;">{{currentPage + 1}}</span>
							<a href=""><i class="fa fa-2x fa-arrow-circle-right" ng-show="currentPage < lastPage - 1" ng-click="nextPage()"></i></a>-->
							<ul class="pagination pagination-blue" style="margin-left: 40%;padding-top: 5px;margin-top: 0;margin-bottom: 0;">
								<li><a ng-class="{ 'disabled-page': (currentPage === 0) }" href="#" ng-click="previousPage()">&lsaquo;</a></li>
								<li class="active" ng-click="currentPage = $index - 1">
									<a href="#">{{currentPage + 1}}</a></li>
								<li><a ng-class="{ 'disabled-page': (currentPage === (lastPage - 1)) }" href="#" ng-click="nextPage()">&rsaquo;</a></li>
							</ul>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card" ng-show="selectedItem">
			<div class="card-img">
				<img src="{{selectedItem.src}}">
			</div>
			<div class="card-block" ng-show="selectedItem">
				<h4 class="card-title">Collection #1</h4>
				<p class="card-text">{{selectedItem.name}}</p>
				<a href="#" class="btn btn-primary">Discount</a>
			</div>
		</div>
	</div>
</div>

<style>
.disabled-page {
	cursor: default !important;
}
.disabled-page:hover {
	background-color: #fff !important;
}
.pagination.pagination-no-border > li > a,
.pagination.pagination-no-border > li > span {
  border: 0;
}

.pagination > li > a, .pagination > li > span, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 50%;
  margin: 0 2px;
  color: #777777;
}

.pagination > li.active > a, .pagination > li.active > span, .pagination > li.active > a:hover, .pagination > li.active > span:hover, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
  background-color: #2ca8ff;
  border: 0;
  color: #FFFFFF;
  padding: 7px 13px;
}
</style>
